## 3.1.1 변수와 자료형

In [4]:
name = "Mark"
age = 16
height = 5.2
is_student = True

type(name), type(age), type(height), type(is_student)

(str, int, float, bool)

## 3.1.2 조건문
조건에 따라 데이터 분류

In [6]:
temperature = 25

if temperature > 30:
    print("날씨가 매우 덥습니다!")
elif temperature >20:
    print("날씨가 따듯합니다!")
else:
    print("날씨가 쌀쌀합니다!")

날씨가 따듯합니다!

## 3.1.3 반복문
여러 데이터에 동일한 연산 적용

In [7]:
scores = [73, 83, 92]

for i in scores:
    print(i + 5)

78
88
97

## 3.1.4 함수
매개변수로 값을 받아 결과 반환

In [11]:
def avg(values):
    return sum(values) / len(values)

avg(scores)

82.66666666666667

## 3.2.1 리스트

In [12]:
fruits = ["apple", "banana", "pineapple"]
print(fruits)

fruits.append("cherry")
print(fruits)

['apple', 'banana', 'pineapple']
['apple', 'banana', 'pineapple', 'cherry']

## 3.2.2 튜플
리스트와 달리 변경 불가능

In [14]:
fruits = ("apple", "banana", "pineapple")
print(fruits)

('apple', 'banana', 'pineapple')

In [15]:
fruits.append("melon") # 튜플 요소 추가 시 오류 발생

AttributeError: 'tuple' object has no attribute 'append'

## 3.2.3 딕셔너리
키를 통해 데이터 접근

In [17]:
student = {"name":"John", "age":23, "major":"Data Science"}

print(student["major"])

Data Science

## 3.2.4 세트
순서가 없는 집합으로 특정 순서로 정렬되지 않음

In [18]:
fruits = {"apple", "banana", "pineapple"}
print(fruits)

fruits.add("blueberry")
print(fruits)

{'apple', 'banana', 'pineapple'}
{'blueberry', 'apple', 'banana', 'pineapple'}